<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.LoginActivity">
        </activity>
        <activity
            android:name=".ui.AuthActivity">
            <!-- 这里可以添加必要的配置，如启动模式等 -->
        </activity>
    </application>

</manifest>